/* Global Styling */
* {
    font-family: "Times New Roman", Times, serif;
}



/* Navbar styling */
.brandbackground {
    background-color: #59aaa5;
    padding: 20px;
    margin-left: 20px;
}
.navbar {
    padding: 0px;
}

/* About Me Page styling */

body {
    background-image: url("../images/memphismini.png");
}

header {
    background-color: white;
    margin-bottom: 0px;
    margin-top: 30px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

p {
    margin-top: 0px;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.1)
}






.container{
    margin-top: 30px;
    background-color: white;
}
.responsive{
    width: 100%;
    max-width: 322px;
    height: auto;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

.column {
    float: left;
    width: 25%;
  }


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }