/* Global Styling */
* {
    font-family: "Times New Roman", Times, serif;
}



/* Navbar styling */
.brandbackground {
    background-color: #59aaa5;
    padding: 20px;
    margin-left: 20px;
}
.navbar {
    padding: 0px;
}

/* About Me Page styling */

body {
    background-image: url("../images/memphismini.png");
}

header {
    background-color: white;
    margin-bottom: 0px;
    margin-top: 30px;
}

h1 {
    color: #59aaa5;
    font-weight: bolder;
}


.container{
    margin-top: 30px;
    background-color: white;
}
.responsive{
    width: 100%;
    max-width: 322px;
    height: auto;
}

.pictures {
    padding: 20px;
}

.column {
    float: left;
    width: 25%;
  }


  /* Footer */
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: rgb(95, 95, 95);
    text-align: center;
    
  }


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


